<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="QuanLyQuanTraSua.Properties.Settings.QuanLyQuanTraSuaConnectionString"
            connectionString="Data Source=DESKTOP-5GBASI0\SQLEXPRESS;Database=QuanLyQuanTraSua;Integrated Security=True;"
            providerName="System.Data.SqlClient" />
        <add name="QuanLyQuanTraSua.Properties.Settings.QuanLyQuanTraSuaConnectionString1"
            connectionString="Data Source=LAPTOP-QKCBFGOJ\SQLEXPRESS;Initial Catalog=QuanLyQuanTraSua;Integrated Security=True;Encrypt=True;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
        <add name="QuanLyQuanTraSua.Properties.Settings.QuanLyQuanTraSuaConnectionString2"
            connectionString="Data Source=DESKTOP-8N51H7P\SQLEXPRESS;Initial Catalog=QuanLyQuanTraSua;Integrated Security=True;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
        <add name="QuanLyQuanTraSua.Properties.Settings.QuanLyQuanTraSuaConnectionString3"
            connectionString="Data Source=TUANCUONG;Initial Catalog=QuanLyQuanTraSua;Persist Security Info=True;User ID=sa;Password=123456"
            providerName="System.Data.SqlClient" />
        <add name="QuanLyQuanTraSua.Properties.Settings.QuanLyQuanTraSuaConnectionString4"
            connectionString="Data Source=LAPTOP-QKCBFGOJ\SQLEXPRESS;Initial Catalog=QuanLyQuanTraSua;Integrated Security=True;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
        <add name="QuanLyQuanTraSua.Properties.Settings.QLYTVConnectionString"
            connectionString="Data Source=TUANCUONG;Initial Catalog=QLYTV;Persist Security Info=True;User ID=sa;Password=123456"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>